/* Font weight */
strong { 
	font-weight: 600; 
}
.f-600 {
	font-weight: 600;
}
.f-400 {
	font-weight: 400;
}

/* Paddings */
.pd-0{
	padding: 0;
}
.pd-5 {
	padding: 5%;
}
.pd-10 {
	padding: 10%;
}

.pt-0 {
	padding-top: 0%;
}
.pt-5{
	padding-top: 5%;
}
.pt-10{
	padding-top: 10%;
}
.pb-2{
	padding-bottom: 2%;
}
.pb-5{
	padding-bottom: 5%;
}
.pl-5{
	padding-left: 5%;
}
.pl-5{
	padding-left: 5%;
}
.pl-20{
	padding-left: 20%;
}
.pr-5{
	padding-right: 5%;
}
.mg-0{
	margin: 0;
}
.mg-t-2{
	margin-top: 2%;
}
.mg-t-3{
	margin-top: 3%;
}
.mg-t-5{
	margin-top: 5%;
}
.mg-t-10{
	margin-top: 10%;
}
.mg-5{
	margin-top: 5%;
	margin-bottom: 5%;
}
.m-l-r{
	margin-left: 10%;
	margin-right: 10%;
}
.mg-10{
	margin-top: 10%;
	margin-bottom: 10%;
}
.mg-b-3{
	margin-bottom: 3%;
}
.mg-b-5{
	margin-bottom: 5%;
}
.mg-b-10{
	margin-bottom: 10%;
}
.mg-l-50{
	margin-left: 50px;
}
.b-radius-50{
	border-radius: 50%;
}
.w-100{
	width: 100%;
}
.lh{
	line-height: 1.5;
}
.text-center{
	text-align: center;
}
.text-left{
	text-align: left;
}
.text-right{
	text-align: right;
}

.text-white{
	color: white;
}
.text-gray{
	color: #888;
}
.text-gray-w{
	color: #dfdfdf;
}
.text-green{
 	color: #0dc0c0;
}
.text-blue-strong{
	color: #333F4C;
}
.text-blue-light{
	color: #E7E9EA;
}
.text-decoration{
	text-decoration: none;
}

.active {
	color: #0dc0c0;
}
.font-16{
	font-size: 16px;
}
.font-20{
	font-size: 20px;
}
.font-26{
	font-size: 26px;
}
.font-28{
	font-size: 28px;
}
.font-30{
	font-size: 30px;
}
.font-35{
	font-size: 35px;
}
.font-40{
	font-size: 40px;
}

.a-none-decoration{
	text-decoration: none;
}
.bg-gray{
	background-color: rgb(244, 244, 244);
}
.bg-white{
	background-color: #fff;
}
.bg-img-block {
	background-size: cover;
	background-repeat: no-repeat;
	background-position: center;
}

.pull-left {
	float: left;
}

.pull-right {
	float: right;
}